<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Pixel Grid Snapper - Editor</title>
</head>
<body>
  <header>
    <div class="banner">
      <a class="button login"><span>Log In</span></a>
      <a class="button create-account"><span>Create Account</span></a>
      <a class="button logout"><span>Log Out</span></a>
    </div>
  </header>

  <main id="editor" 
    data-project-id="<%= project.id || '' %>" 
    data-original-image="<%= project.original_image || '' %>" 
    data-grid-size="<%= project.grid_size || '' %>">

        
    <div class="action-buttons">
      <a href="/gallery" class="button view-projects"><span>Public Projects</span></a>
      <!-- <a href="/profile" class="button view-profile"><span>Your Projects</span></a> -->
      <input type="file" id="upload">
      <p>Upload an image to get started.</p>
    </div>

    <div id="controls" class="hidden">
      <label for="gridSizeInput">Grid Size: </label>
      <input type="number" id="gridSizeInput" min="1" max="100">
    </div>
    <a class="button" id="toggleColorChangeMapButton">Show Color Change Map</a>
    <a class="button hidden" id="snapButton">Snap to Grid</a>
    <div id="comparison" class="hidden">
      <figure>
        <div id="divisor"></div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider">
    </div>
    <!-- download logic in main.js -->
    <a class="button hidden" id="downloadButton">Download Image</a> 
    <a href="#" class="button hidden" id="saveProjectButton" class="button save-project" >Save Project to Site</a>
  </main>
  
  
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
