<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Piksul</title>
</head>
<body>
  <header>
    <div class="navigation">
      <a href="/" class="button logo-home">
        <img id="piksul-logo" src="/img/piksul-logo.png" alt="Piksul Logo">
        <span>PIKSUL</span>
      </a>
    </div>
    <div class="user-buttons">
      <a class="button login"><span>Log In</span></a>
      <a class="button create-account"><span>Sign Up</span></a>
      <a class="button logout hidden"><span>Log Out</span></a>
    </div>
  </header>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TJMC7X2C2Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '<%= process.env.GA_TRACKING_ID %>');
</script>
  <main class="main-layout">
    <section class="left-panel">
      <h1>PIKSUL</h1>
      <p>A pixel art restoration tool for deformed, blurry, or otherwise imperfect pixel art.</p>
      <div class="action-buttons">
        <a href="/editor" class="button start-project"><span>Start New Project</span></a>
        <a href="/gallery" class="button view-projects"><span>Gallery</span></a>
      </div>
    </section>
    <section class="demo-container">
      <img id="demo-img" src="/img/babosa_demo_edited.gif" alt="Demo of Pixel Block Snapper" class="demo-image">
    </section>
  </main>
  <footer>
    <p>Made by <a href="https://github.com/intercalaris" target="_blank">Yonatan Mateo Aviv <div id="copyright">&copy;<span id="year"></span></div></a></p>
  </footer>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
