<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Pixel Grid Snapper</title>
</head>
<body>
  <header>
    <div class="banner">
      <a href="/login" class="button login"><span>Log In</span></a>
      <a href="/signup" class="button create-account"><span>Create an Account</span></a>
      <a href="/logout" class="button logout"><span>Log Out</span></a>
    </div>
  </header>
  <main class="main-layout">
    <section class="left-panel">
      <h1>Pixel Grid Snapper</h1>
      <p>A pixel art fixer for deformed, blurry, or otherwise imperfect pixel art.</p>
      <div class="action-buttons">
        <a href="/editor" class="button start-project"><span>Start New Project</span></a>
        <a href="/gallery" class="button view-projects"><span>Public Projects</span></a>
        <a href="/profile" class="button view-profile"><span>Your Projects</span></a>
      </div>
    </section>
    <section class="right-panel">
      <img id="demo-img" src="/img/babosa_demo_edited.gif" alt="Demo of Pixel Grid Snapper" class="demo-image">
    </section>
  </main>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>