<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/sketchstyle.css">
	<title>Manual Pixel Editor</title>
</head>
<body>
    <header class="banner">
		<div class="navigation">
			<a href="/gallery" class="button back-to-gallery"><span>Back to Gallery</span></a>
		</div>
		<div class="users">
			<a class="button login"><span>Log In</span></a>
			<a class="button create-account"><span>Sign Up</span></a>
			<a class="button logout hidden"><span>Log Out</span></a>
		</div>
    </header>

  	<main id="sketch"
		data-project-id="<%= project.id || '' %>"
		data-edited-image="<%= project.edited_image || '' %>"
		data-block-size="<%= project.block_size || '' %>"
		data-palette-size="<%= project.palette_size || '' %>">

    <div class="editor-container">
		<div id="canvas-container" class="canvas-container">
            <canvas id="imageCanvas"></canvas>
            <canvas id="gridCanvas"></canvas>
        </div>
          
		<div class="tools-container">
			<div id = "palette-container" class="tool">
				<label for="colorPicker">Choose Color:</label>
				<input type="color" id="colorPicker" value="#000000">
				<div id="colorPalette" class="color-palette">
				</div>	
			</div>
			<div id = "controls-container" class="tool">
				<a href="#" id="eraserButton" class="button eraser"><span>Eraser</span></a>
				<a href="#" id="undoButton" class="button undo"><span>Undo</span></a>
				<a href="#" id="resetButton" class="button reset"><span>Reset</span></a>
			</div>
			<div class="tool">
				<a href="#" id="saveProjectButton" class="button save"><span>Save to Site</span></a>
				<a href="#" id="downloadButton" class="button download"><span>Download</span></a>
			</div>
    	</div>
	</main>

	<script type="text/javascript" src="/js/sketch.js"></script>
</body>
</html>
